= paginate @archives
%table.table
  %thead
    %tr
      %th.target-check
      %th.entry_name
        fullpath
      %th.size
        filesize
      %th.action
      %th.destroy-action
  %tbody
    - @archives.each do |archive|
      = render "archive", archive_job: archive.archive_job, archive: archive
= paginate @archives
