%table.table
  %thead
    %tr
      %th.target-check
      %th.entry_name
        name
      %th.size
        filesize
      %th.action
  %tbody
    - if current_path.present?
      %tr
        %td.target-check
        %td.entry_name= link_to "..", parent_path(current_path)
        %td.size
        %td.action

    - @directory.entries.each do |entry|
      - if archive_job = @loaded_archive_jobs[entry.fullpath]
        - if archive = @loaded_archives[archive_job.first.jid]
          = render "archived_entry", entry: entry, archive: archive.first
        - else
          = render "archive_jobed_entry", entry: entry
      - else
        = render "entry", entry: entry
